        <div class="main-content-wrapper">
            <!-- Breadcrumbs -->
            <div role="navigation" class="breadcrumbs">
                <a href="/" rel="home">MGSE</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <a href="">Bread</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <a href="">Crumbs</a>
            </div>
            <!-- End breadcrumbs -->
            <div id="main-content" class="main" role='main'>
                <h1 class="title">{{ page.title }}</h1>