        <div class="footer-wrapper">
            <footer class="footer">
                <div class="title">
                    <p>Melbourne Graduate School of Education</p>
                </div>
                <div class="contact">
                    <ul>
                        <li><strong>Phone:</strong> 13 MELB (13 6352) or <br>+61 3 9035 5511 (international) </li>
                        <li><strong>Fax:</strong> +61 3 8344 8529</li>
                        <li><strong>Email:</strong> <a href="//education.unimelb.edu.au/contact_us/enquiry-forms/general-enquiry">Make an enquiry</a>
                        </li>
                    </ul>
                    <p><a href="//intranet.education.unimelb.edu.au/" class="button">MGSE Staff Intranet</a></p>
                </div>
                <ul class="publish-dates">
                    <li><strong>Date created:</strong><br> 26 April 2012</li>
                    <li><strong>Last modified:</strong><br> 30 September 2014</li>
                </ul>
            </footer><!-- /footer -->
        </div><!-- /footer-wrapper-->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/jquery-1.11.3.min.js"><\/script>')</script>
        
        <!-- MGSE javascript -->  
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        {% if page.pageSpecificScript %}<script src="{{ page.pageSpecificScript }}"></script>{% endif %}

    </body>
</html>