<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }} : MGSE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <!-- univers fonts licensed by MGSE fonts.com -->
        <script type="text/javascript" src="//fast.fonts.net/jsapi/7e9801db-a894-431d-8544-b85ad9cf5f1e.js"></script>
        <!-- modernizr -->
        <script src="/js/modernizr-2.8.3.min.js"></script>
        
        <!-- UoM global header and footer CSS -->
        <link rel="stylesheet" href="//brand.unimelb.edu.au/global-header/css/style.css">
        
        <!-- MGSE stylesheet -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css">

        <!-- university global header and footer injection -->
        <script src="//brand.unimelb.edu.au/global-header/js/injection.js" type="text/javascript"></script>

{% include style-guide-css.html %}
        
    </head>
    <body class="{{bodyClass}}">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <map name="MGSE-logo" id="MGSE-logo">
            <area shape="rect" alt="University of Melbourne" title="" coords="0,0,130,126" href="http://www.unimelb.edu.au/">
            <area shape="rect" alt="MGSE" title="" coords="130,0,575,126" href="http://education.unimelb.edu.au/">
        </map>

        <div class="wrapper-header">
            <header class="header">
                <div class="hgroup">
                    <img src="/css/img/Horizontal-180mm-new.png" alt="Melbourne Graduate School of Education, shaping minds shaping the world" usemap="#MGSE-logo" width="450"/>
                </div>
                <div class="social-media-icons">
                    <a href="//twitter.com/EduMelb"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="//www.youtube.com/user/EducationMelbourne/"><i class="fa fa-youtube-play fa-2x"></i></a>
                </div>
        
                <div class="mgse-search">
                    <form id="searchbox_010626520995356427609:quos3ex_5tm" action="/search">
                        <span class="mgse-search__input">
                            <input id="s" name="s" type="text" placeholder="Search MGSE" />
                        </span>
                        <span class="mgse-search__button">
                            <button class="icon">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                   </form>
                </div>
            </header>
        </div>
