        <div class="menu-button">Menu <span class="touch-button"><i class="fa fa-angle-down"></i></span></div>
        <nav class="main_nav">           
            <ul class="flexnav">
                <li><a href="/">Home</a></li>
                <li class="current">
                    <a href="http://education.unimelb.edu.au/about_us">About us</a>
                    <ul> 
                        <li class=""><a href="http://education.unimelb.edu.au/about_us/deans_welcome"> Message from the Dean </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/about_us/staff"> Staff </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/about_us/clinical_teaching"> Clinical Teaching </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="http://education.unimelb.edu.au/study_with_us">Study With Us</a>          
                    <ul> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/research_degrees2"> Research degrees </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/become_a_teacher"> Become a Teacher </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/professional_development"> Courses for education professionals </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/breadth"> Breadth </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/how_to_apply"> How to apply </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/student_centre"> Student Centre </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="http://education.unimelb.edu.au/research">Research</a> 
                    <ul>
                        <li class=""><a href="http://education.unimelb.edu.au/research/research_centres"> Research Centres </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/research/research_projects"> Research Projects </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/research/research_degrees"> Research degrees </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="http://education.unimelb.edu.au/community">Community</a>
                    <ul> 
                        <li class=""><a href="http://education.unimelb.edu.au/community/mteach_partnership_schools"> Master of Teaching Partnership Schools </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/community/kwong_lee_dow_centre"> Kwong Lee Dow Multimedia Centre </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/community/support_us"> Support us </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/community/internship_schools"> Master of Teaching (Secondary) Internship </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/community/university_of_melbourne_network_of_schools"> University of Melbourne Network of Schools </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="http://education.unimelb.edu.au/news_and_activities"> News and Activities </a> 
                    <ul> 
                        <li class=""><a href="http://education.unimelb.edu.au/news_and_activities/news"> News </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/news_and_activities/shaping_minds_shaping_the_world"> Shaping minds, shaping the world </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/news_and_activities/events"> Events </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/news_and_activities/projects"> Projects </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/news_and_activities/deans_lecture_series"> Dean's Lecture Series </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="http://education.unimelb.edu.au/contact_us">Contact us</a>
                </li> 
            </ul>
        </nav>