        <div class="menu-button">Menu <span class="touch-button"><i class="fa fa-angle-down"></i></span></div>
        <nav class="main_nav">           
            <ul class="flexnav">
                <li><a href="/">Home</a></li>
                <li class="current">
                    <a href="/about-us/">About us</a>
                    <ul> 
                        <li class=""><a href=""> Message from the Dean </a></li> 
                        <li class=""><a href=""> Staff </a></li> 
                        <li class=""><a href=""> Clinical Teaching </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="/study-with-us/index.html">Study With Us</a>          
                    <ul>
                        <li class=""><a href="/study-with-us/courses/">Courses</a></li> 
                        <li class=""><a href="">Financial support and scholarships</a></li>
                        <li class=""><a href="">How to apply</a></li> 
                        <li class=""><a href="/study-with-us/students/">Students</a></li> 
                        <!--
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/research_degrees2"> Research degrees </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/become_a_teacher"> Become a Teacher </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/professional_development"> Courses for education professionals </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/breadth"> Breadth </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/how_to_apply"> How to apply </a></li> 
                        <li class=""><a href="http://education.unimelb.edu.au/study_with_us/student_centre"> Student Centre </a></li>
                        -->
                    </ul>
                </li> 
                <li class="">
                    <a href="/research/">Research</a> 
                    <ul>
                        <li class=""><a href=""> Research Centres </a></li> 
                        <li class=""><a href=""> Research Projects </a></li> 
                        <li class=""><a href=""> Research degrees </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="/community/">Community</a>
                    <ul> 
                        <li class=""><a href=""> Master of Teaching Partnership Schools </a></li> 
                        <li class=""><a href=""> Kwong Lee Dow Multimedia Centre </a></li> 
                        <li class=""><a href=""> Support us </a></li> 
                        <li class=""><a href=""> Master of Teaching (Secondary) Internship </a></li> 
                        <li class=""><a href=""> University of Melbourne Network of Schools </a></li> 
                    </ul>
                </li> 
                <li class="">
                    <a href="/news-and-activities/"> News and Activities </a> 
                    <ul> 
                        <li class=""><a href=""> News </a></li> 
                        <li class=""><a href=""> Shaping minds, shaping the world </a></li> 
                        <li class=""><a href="/news-and-activities/events.html"> Events </a></li> 
                        <li class=""><a href=""> Projects </a></li> 
                        <li class=""><a href=""> Dean's Lecture Series </a></li> 
                    </ul>
                </li> 
                <li class="contact-us/">
                    <a href="">Contact us</a>
                </li> 
            </ul>
        </nav>