<nav class="style-guide-nav">
    <ul>
        <li><a href="index.html"{% if page.sub-title == 'Home' %} class="current"{% endif %}>Home</a></li>
        <li><a href="style-guide-layout.html"{% if page.sub-title == 'Layout' %} class="current"{% endif %}>Layout</a></li>
        <li><a href="style-guide-navigation.html"{% if page.sub-title == 'Navigation' %} class="current"{% endif %}>Navigation</a></li>
        <li><a href="style-guide-typography.html"{% if page.sub-title == 'Typography' %} class="current"{% endif %}>Typography</a></li>
        <li><a href="style-guide-components.html"{% if page.sub-title == 'Components' %} class="current"{% endif %}>Components</a></li>
    </ul>
</nav>