<style>
    h2.style-guide,
    h3.style-guide,
    h4.style-guide,
    h5.style-guide,
    h6.style-guide {
        clear: both;
        color: #999;
    }
    h2.style-guide {
        border-bottom: 2px solid #eee;
    }
    pre {
        position: relative;
        background: #FAF8F2;
        border-radius: .4em;
        border: 1px solid #efe8d5;
        margin: 1em 0;
        overflow: visible;
        padding: 1em 2em;
        white-space: pre;
        word-wrap: normal;
    }
    pre h4 {
        background-color: #FFF;
        border-bottom-left-radius: .4em;
        border-top-right-radius: .4em;
        color: #c1a95f;
        font-family: Nunito,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
        letter-spacing: .1em;
        padding: .5em 1em;
        position: absolute;
        right: 0;
        top: 0;
    }
    .style-guide-nav ul,
    .style-guide-nav li {
        margin: 0;
        padding: 0;
    }
    .style-guide-nav ul {
        margin-bottom: 3em;
    }
    .style-guide-nav li {
        display: inline;
    }
    .style-guide-nav li a {
        padding: 10px 20px;
        background-color: #f2f2f2;
        color: #999;
        text-decoration: none;
        border-bottom: none;
    }
    .style-guide-nav li a.current {
        background: #efe8d5;
    }
</style>