/*
 * Accoordion
 */
.accordion-label {
    color: #005596;
    max-width: 745px;
    border-bottom-color: #005596;
    border-bottom: 1px solid #E3F3FF;
    padding: 0.452em 40px 0.452em 0;
    display: block;
    cursor: pointer;
    line-height: 1.618em;
    margin-bottom: 0.618em;
    margin-top: 0;
    position: relative;    
    &:after {
        font-family: FontAwesome;
        color: #005596;
        content: "\f078";
        font-size: 0.732em;
        position: absolute;
        right: 7px;
    }
    &.open {
       &:after { 
           content: "\f077";
       }
    }
    a {
        border-bottom: none;
        cursor: pointer;
    }
    &.compact {
        border-bottom: none;
        a {
            border-bottom: 1px solid #005596;
        }
        &:after {
            position: relative;
            margin-left: 1em;
        } 
    }
}
.accordion-content {
    max-width: 745px;
    display: none;
}