/*
 * alert
 */
.alert {
  max-width: 700px;
  margin: 8em auto;
  text-align: center;
  border: 1px solid #009DDC;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.side-bar .alert,
.side-bar.alert {
  margin: 0 auto 2em auto; 
}