.breadth-courses {
    &:before {
        content: "Tracks";
        display: block;
        font-size: 14/16*1em;
        font-weight: 700;
        text-transform: uppercase;
    }
    h2 {
        position: relative;
        background: #E3F3FF;
        padding: 8px 10px;
        margin: 2px 0;
        &:after {
            content: "+";
            font-weight: 400;
            line-height: 1.4;
            position: absolute;
            right: 10px;
            transition: transform 1s;
        }
        &.open {
            &:after {
                transform: rotate(45deg);
            }
        }
    }
    .description, .subjects {
        display: none;
    }
    .subjects {
        &:before {
            content: "Subjects";
            display: block;
            font-size: 14/16*1em;
            font-weight: 700;
            text-transform: uppercase;
        }
        .accordion-label, .accordion-content {
            max-width: 100%;
        }
        figure.right {
            float: right;
            margin-left: flex-gutter();
            max-width: 40%;
        }
    }
    .testimonial {
        figure {
            float: right;
            margin: 1em 0 1em 1em;
        }
        blockquote p:after {
            float: none;
            margin-left: 1em;
        }
        
    }
    @media only screen and (min-width: px-to-em(801)) {
        &:before {
            content: "";
        }
        .track {
            @include outer-container;
            &.other {
                h2:before {
                   visibility: hidden; 
                }
            }
        }
        h2 {
            padding: 0 0 10px 0;
            margin: 3em 0 1em 0;
            line-height: 1;
            background: none;
            border-bottom: 1px solid #d4d4d5;
            &:after {
                content: "";
            }
            &:before {
                content: "Track ";
                font-size: 14/16*1rem;
                font-weight: 700;
                text-transform: uppercase;
                color: #444444;
                margin-right: 20px;
            }
            span {
                border: 1px solid #d4d4d5;
                padding: 10px 10px 9px 10px;
                border-bottom: none;
                background: #fff;
            }
        }
        .description, .subjects {
            display: block;
        }
        .description {
            @include span-columns(2);
        }
        .subjects {
            @include span-columns(6);
            margin-top: 1em;
        }
        
    }    
}
.video.breadth {
    @media only screen and (min-width: px-to-em(801)) {
        float: right;
        margin-left: $gutter();
    }
}
.tag {
    font-size: 12/16*1rem;
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid #E3F3FF;
    padding: 2px 3px;
}