/*
 * comparison
 */
.comparison {
    @include breakpoint(medium-up) {
        display: flex;
        flex-wrap: wrap;
    }
    > div {
        border-left: 2px solid #E3F3FF;
        padding-left: 10px;
    }
}