/*
 * comparison
 */
.comparison {
    @media only screen and (min-width: px-to-em(641)) {
        display: flex;
        flex-wrap: wrap;
    }
    > div {
        border-left: 2px solid #E3F3FF;
        padding-left: 10px;
    }
}