.footer {
    @media only screen and (min-width: px-to-em(641)) {
        @include outer-container;
        &>div {
            clear: left;
        }
    }

    .title {
        @media only screen and (min-width: px-to-em(641)) {
            clear: none;
            @include span-columns(4 of 8);
        }
        @media only screen and (min-width: px-to-em(801)) {
            @include span-columns(8 of 8);
        }
    }
    .contact {
         @media only screen and (min-width: px-to-em(641)) {
            clear: none;
            @include span-columns(4 of 8);
        }
        @media only screen and (min-width: px-to-em(801)) {
            @include span-columns(6 of 8);
        }
    }
    .publish-dates {
         @media only screen and (min-width: px-to-em(641)) {
            clear: none;
            @include span-columns(4 of 8);
        }
        @media only screen and (min-width: px-to-em(801)) {
            @include span-columns(2 of 8);
        }
    }
    .publish-dates {
        @media only screen and (min-width: px-to-em(801)) {
            @include omega();
        }
    }
    
    ul {
        list-style: none;
        li {
            padding: 0;
            margin: 0;
            background: none;
        }
    }
    
    a,
    a:active,
    a:visited {
        color: #fff;
        border-bottom-color: #fff;
    }
    a:hover {
        background: none;
    }
    .button,
    .button:visited {
        color: #005596;
        background: #fff;
    }
    .button:hover {
        background: rgba(255,255,255,0.8);
    }
}