/* === GLOBAL HEADER ADJUSTMENT === */
#g-header {
    height: 66px;
    .wrapper {
        max-width: 1250px;
        margin: 0 auto;
    }
}
#footernav {
    .wrapper {
        max-width: 1250px;
        margin: 0 auto;
    }
}