/* === MGSE HEADER === */

.wrapper-header {
    background-color: $mgse-blue;
    min-height: 115px;
    .header {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;
        .hgroup {
            height: 130px;
            img {
                width: 450px;
                max-width:100%;
            }
            @include breakpoint (small-only) {
                height: auto;
            }
        }
    }
}

/* social media icons */

.social-media-icons {
    position: absolute;
    right: 10px !important;
    top: 25px;
}

.social-media-icons a:first-child {
    margin-right: 1em;
}

.social-media-icons a, .social-media-icons a:active {
    border-bottom: none;
    color: #ffffff; 
}

.social-media-icons a:first-child {
    margin-right: 1em;
}

.social-media-icons a {
    color: #ffffff; 

    &:hover {
      color: lighten($web-blue, 10%);
     }
}

/* === MGSE SEARCH === */


.mgse-search {
    margin-top: -44px;
    position:absolute;
    right: 0px; 
    width: 20%;
    input { 
        border: 1px solid #CCCCCC;
        display: inline-block;
        font-size: 0.8em;
        padding: 0.4em 0.4em;
        transition: border 0.3s linear 0s;
        margin: 0 0 0 0px;
    }
    form {
        width:100%;
    }
    form input:focus {
        border:1px solid #20201e;
        transition: border 0.3s linear 0s;
    }
    form button,
    input[type="submit"] {
        background: $web-blue;
        color:#fff;
        border: 0 none;
        border-radius: 0 3px 3px 0;
        color: #FFFFFF;
        font-size: 0.9em;
        line-height: 16px;
        vertical-align: middle;
        margin:0;
    }
}

.mgse-search__input {
    position: absolute;
    right: 42px;
    border: none;
    outline: none;
    margin: 0;
    z-index: 10;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

.mgse-search__input input {
    border-radius: 2px 0 0 2px;
}

.mgse-search__button {
    position: absolute;
    width: 42px;
    display: block;
    right: 5px;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.mgse-search__button .icon {
      padding: 8px;
}

/* hide search and social media icons on mobiles */
@include breakpoint (small-only) {
    .mgse-search, .social-media-icons {
        display:none;
    }
}