/* === COMPONENTS === */

/*
 * Buttons
 */
.button {
    background: $web-blue;
    border-bottom: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 200ms linear;
    display: inline-block;
    padding: 8px 14px 8px;
    margin: 5px 5px 1em 0;
    border: 0;
    vertical-align: middle;
    &:hover, &:focus {
        color: #fff;
        background: $web-10-blue;
        box-shadow: none; 
        text-shadow: none;
        border-bottom: none;
    }
    &:visited {
        color: #fff;
        border: 0;
    }
    &:active {
        background: $web-20-blue;
    }
}

.button-go,
.button--go {
    @extend .button; 

    &:after {
        font-family: FontAwesome;
        font-size: 1em;
        font-weight: bold;
        margin: 0 0 0 12px;
        line-height: .5;
        color: #fff;
        content: "\f105";
        text-shadow: none;
    }
}
.download.button:before {
    font-family: FontAwesome;
    font-size: 1em;
    font-weight: bold;
    margin: 0 12px 0 0;
    line-height: .5;
    color: #fff;
    content: "\f019";
    text-shadow: none;
}

/*
 * Tables
 */
table {
    border-collapse: collapse;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 1.618em;
}
table caption {
    text-align: left;
    padding-bottom: 5px;
}
table td {
    padding: 1em;
}

table tr, table th, table td {
    border: 1px solid lighten($web-blue, 60%);
    padding: 1em;
    }

table tbody tr:nth-child(2n+1) {
    background: lighten($web-blue, 65%);
}

/*
 *  Fees Table - table used on course page aside to display fee options
 */
table.fees-table {
    table-layout: fixed;
    width: 100%;
}
table.fees-table th {
    font-family: "Univers W01", "Helvetica", Arial, sans-serif;
    font-size: 0.7em;
    color: #0072C9;
}
table.fees-table th a {
    color: #0072C9;
}
table.fees-table thead th:first-child {
    font-weight: 700;
    font-size: 1.24em;
    line-height: 1.618em;
    color: #005596;
    padding: 0.4em;
}
table.fees-table td {
    color: #96d2ff;
    text-align: center;
    border-right: 1px solid #e3f3ff;
}
table.fees-table th:last-child,
table.fees-table td:last-child {
    border-left: 1px solid #0072C9;
}
table.fees-table td.checked {
    background: #fff;
}
table.fees-table tr,
table.fees-table th,
table.fees-table td {
    border: none;
}
table.fees-table th,
table.fees-table td {
    border-bottom: 1px solid #c9e8ff;
}


/*
 * Figures
 */
figure {
    margin: 0 0 1em 0;
    img {
        max-width: 100%;
    }
    &.video {
        width: 100%;
        max-width: 588px;
    }
    &.centered {
        margin: 0 auto;
    }
    &.extra-vspace {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}
.article figure {
    @include breakpoint(medium-up) {
        &.left, &.right {
            @include span-columns(2 of 4);
        }
        &.right {
            float: right;
            @include omega();
            margin-left: $gutter;
        }
    }
    @include breakpoint(medium-only-portrait-up) {
        &.left, &.right {
            @include span-columns(2 of 5);
        }
        &.right {
            float: right;
            @include omega();
            margin-left: $gutter;
        }
    }
}
.side-bar figure {
    @include fill-parent;
    &.left, &.right {
        width: auto;
    }
    &.left {
        float: left;
        margin-right: $gutter;
    }
    &.right {
        float: right;
        @include omega();
        margin-left: $gutter;
    }
}
.col-1of2 figure,
.col-2of2 figure {
    &.left, &.right {
        @include span-columns(2 of 4);
    }
    &.right {
        float: right;
        @include omega();
        margin-left: $gutter;
    }
}
figcaption {
    width: auto;
    font-size: 0.732em;
    padding: 5px;
    margin-bottom: 1em;
}

/*
 * Video
 */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 * Wells
 */
.well,
.block {
    background: $web-sky-blue;
    padding: 1em;
    margin-bottom: 2em;
    @include clearfix;
}

/*
 * Content promo
 */
.promo {
    background: $web-sky-blue;
    padding: 1em;
    margin-bottom: 2em;
    @include clearfix;
    h2 {
        margin-bottom: 0;
    }
    figure {
        @include breakpoint(medium-up) {
             margin-bottom: 0;
        }
    }
    a.button {
        margin: 0;
    }
    &.alt {
        background: rgb(196, 196, 197);
    }
}

/*
 * Homepage nav
 */
.home h3 a {
    border-bottom: none;
        &:hover {
            border-bottom: 1px solid #0072c9;
        }
}
#main-content .home-in-page-nav {
    @include breakpoint(medium-only-portrait-up) {
        @include span-columns(9 of 12);
    }
    h3 {
        border-bottom: 2px solid #2D71B3;
    }
    li {
        padding-left: 1em;
        background-position: 0 0.5em;
    }
    a {
        border-bottom: none;
        &:hover {
            border-bottom: 1px solid #0072c9;
        }
    }
}
#main-content .home-side-bar {
    @include breakpoint(medium-only-portrait-up) {
        clear: none;
        @include span-columns(3 of 12);
        @include omega();
    }
    h3 {
        border-bottom: 2px solid #2D71B3;
    }
    .news-wrap {
        margin: 1em 0;
        border-bottom: 1px solid #BFCCE2;
        a {
            border-bottom: none;
            &:hover {
                border-bottom: 1px solid #0072c9;
            }
        }
        .time-stamp {
            text-transform: uppercase;
            font-size: 0.732em;
        }
    }
}

/*
 * Tabs
 */
ul.tabs {
    border-bottom: 2px solid $web-10-blue;
    @include clearfix;
    margin-bottom: 0;
    li {
        display: inline-block;
        float: left;
        background-image: none;
        padding: 0;
        margin: 0;
        a {
            display: block;
            color: $web-blue;
            font-size: 90%;
            padding: 0.618em 2em;
            border-bottom: none;
            border-right: 1px solid #fff;
            border-top: 2px solid #fff;
            background: $web-sky-blue;
            &:hover {
                background: $web-20-blue;
            }
            &.current {
                color: #fff;
                background: $web-10-blue;
                border-right: 1px solid $web-blue;
                border-top: 2px solid $web-10-blue;
                margin-right: 1px;
            }
        }
    }
    &.page {
        li {
            a {
               &.current {
                    background: #fff;
                    color: $web-blue;
                   border-left: 2px solid $web-blue;
                   border-right: 2px solid $web-blue;
                   border-bottom: 2px solid #fff;
                   margin-bottom: -2px;
                }
            }
        }
    }
}
.panes {
    padding-top: 1em;
    &.enclosed {
        border: 1px solid #eee;
        padding: 1em $gutter;
    }
    margin-bottom: 4em;
    > div {
        display: none;
        &.current {
            display: block;
        }
    }
}


/*
 * Acoordion
 */
.accordion-label {
    max-width: 745px;
    a {
        border-bottom-color: $web-blue;
        border-bottom: 1px solid $web-sky-blue;
        padding: 0.452em 40px 0.452em 0;
        display: block;
        cursor: pointer;
        line-height: 1.618em;
        margin-bottom: 0.618em;
        margin-top: 0;
        position: relative;    
        &:after {
            font-family: FontAwesome;
            color: #005596;
            content: "\f078";
            font-size: 0.732em;
            position: absolute;
            right: 7px;
        }
        &.open {
           &:after { 
               content: "\f077";
           }
        }
    }
}
.accordion-content {
    max-width: 745px;
    display: none;
}


/*
 * Read more
 */
.read-more {
    margin-left: 20px;
    &:before {
        content: "\2026";
        margin-right: 2px;
    }
}

/*
 * Profile
 */
.profile {
    @include clearfix;
    margin-bottom: 4em;
    figure {
        float: left;
        width: 25%;
        max-width: 150px;
        margin-right: $gutter/2;
        img {
            width: 100%;
            height: auto;
        }
    }
    .details {
        overflow: hidden; /* stops wrap under figure */
        .info {
            margin-bottom: 0.5em;
            span, a {
                font-size: 0.732em;
                display: inline-block;
                color: $web-10-blue;
                margin-right: 5px;
            }
            a {
                border-bottom: 0;
                &:hover {
                    border-bottom: 1px solid $web-10-blue;
                }
            }
            .tel {
                &:before {
                    font-family: FontAwesome;
                    content: "\f095";
                    margin-right: 2px;
                }
            }
            .email {
                &:before {
                    font-family: FontAwesome;
                    content: "\f0e0";
                    margin-right: 3px;
                }
            }
            .twitter {
                &:before {
                    font-family: FontAwesome;
                    content: "\f099";
                    margin-right: 3px;
                }
            }
        }
    }
}

/*
 * card
 */
.card {
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    padding-bottom: $gutter;
    header {
        background: #f1f1f1;
    }
    img {
        display: block;
        max-height: 142px;
        margin: 0 auto;
    }
    .card-main {
        padding: $gutter/2 $gutter/2 0 $gutter/2;
    }
    h2,h3,h4,h5,h6 {
        font-size: 1em;
        line-height: 1.5;
        color: $web-blue;
        margin-bottom: 1em;
    }
    p {
        font-size: 0.9 * 1em;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0 $gutter/2 $gutter/2 $gutter/2;
    }
    .explore {
        font-size: 0.8 * 1em;
        color: $mgse-dark-grey;
        display: inline-block;
        border: 1px solid $mgse-grey;
        border-radius: 4px;
        padding: 2px 6px;
        cursor: pointer;
        &:hover {
            color: $web-blue;
            box-shadow: 0 1px 6px #ccc;
        }
    }
    &.highlight {
        background: $web-sky-blue;
    }
}

/*
 * scholarship summary - asset display format
 */
.scholarship-summary {
    @include clearfix;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    margin-bottom: 2em;
    .details {
        float: left;
        width: 20%;
        padding-right: $gutter/2;
        b {
            color: #6a6a6a;
            font-weight: normal;
        }
    }
    .description {
        margin-left: 20%;
    }
}

/*
 * event - asset display format
 */
.event {
    @include clearfix;
    padding-bottom: 1em;
    margin-bottom: 2em;
    width: 100%;
    .details {
        float: left;
        width: 20%;
        padding-right: $gutter/2;
    }
    .description {
        margin-left: 20%;
    }
}

/*
 * alert
 */
.alert {
    max-width: 700px;
    margin: 8em auto;
    text-align: center;
    border: 1px solid #009DDC;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

/*
 * comparison
 */
.comparison {
    @include breakpoint(medium-up) {
        display: flex;
        flex-wrap: wrap;
    }
    > div {
        border-left: 2px solid #E3F3FF;
        padding-left: 10px;
    }
}