.slider-controls {
    @include outer-container;
    text-align: center;
    button {
        border: none;
        background: none;
        color: $mgse-blue;
        &.prev {
            float: left;
            &:before {
                font-family: FontAwesome;
                font-size: 1em;
                margin: 0 12px 0 0;
                line-height: .5;
                content: "\f104";
            }
        }
        &.next {
            float: right;
            &:after {
                font-family: FontAwesome;
                font-size: 1em;
                margin: 0 0 0 12px;
                line-height: .5;
                content: "\f105";
            }
        }
        &.hide {
            display: none;
        }
    }
    .pager {
        display: inline-block;
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            background: none;
            padding: 0;
            @include hide-text;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $web-sky-blue;
            margin: 0 3px;
            &.current {
                background: $mgse-blue;
            }
        }
    }
    position: absolute;
    width: 100%;
    bottom: 1em;
    left: 0;
    padding: 0 1em;
}