/*
 * card
 */
.card {
    position: relative;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    padding-bottom: $gutter;
    margin-bottom: 2em;
    background-color: #fff;
    height: 400/16*1em;
    overflow: hidden;
    &:after {
        position: absolute;
        width: 100%;
        bottom: 0;
        content: ' ';
        display: block;
        height: 80px;
        height: 7rem;
        background: linear-gradient(0deg,#fff 50%,hsla(0,0%,100%,0));
    }
    > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid transparent;
        &:hover {
            h2, h3 {
                color: $web-10-blue;
            }
        }
        > header {
            img {
                max-height: inherit;
                width: 100%;
                position: absolute;
                overflow: hidden;
            }
        }
        > footer {
            background: #fff;
            color: #444;
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            text-align: right;
            padding: 0 $gutter/2 $gutter/2 $gutter/2;
            p {
                font-size: 12/16*1em;
                margin: 0;
                padding: 1em 0 0 0;
                border-top: 1px solid $text-color;
            }
        }
    }  
    .card-main {
        color: #444;
        margin: $gutter/2;
    }
    h2, h3 {
        font-weight: 300;
        font-size: 18/16*1em;
        margin-bottom: 0.8em;
        line-height: 1.4;
    }
    p {
        font-size: 0.9 * 1em;
    }
    &.highlight {
        background: $web-sky-blue;
    }
    transition: transform 0.25s ease-in-out;
    &:hover {
        box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5, 0px 2px 8px 0px rgba(0,0,0,0.2);
        transform-origin: 50% 50%;
        transform: scale(1.05);
        
    }
}
/*
 * promotion card - home page promotions
 */
.promotion.card {
    height: 340/16 * 1em;
    header {
        background-color: #f1f1f1;
        position: relative;
        padding-bottom: 1/2*100%;
        &:before {
            content: "";
            font-size: 2em;
            line-height: 1;
            letter-spacing: -1px;
            color: #D6D6D6;
            display: block;
            height: 1em;
            position: absolute;
            top: 0;
            right:0;
            bottom: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
    }
    .cta {
        margin: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 1em;
        text-align: right;
        padding-right: 1em;
        color: #fff;
    }
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 76px solid transparent;
        border-bottom: 0px solid transparent;
        border-right: 280px solid rgba(1,68,126,0.8);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &.testimonial {
        background-color: $web-sky-blue;
        &:after {
            display: none;
        }
        blockquote {
            margin: 0 1.5em;
        }
        cite {
            color: $text-color;
            span {
                border-bottom: 1px solid $web-10-blue;
                color: $web-blue;
            }
        }
    }
}
.double.promotion.card {
    background-repeat: no-repeat;
    background-size: cover;
    a {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card-main {
        margin: $gutter;
        text-align: center;
        h3, h4, h5, h6, p, a {
        color: #fff;
        }
        h3 {
            font-size: 60/16*1em;
            margin-bottom: 10px;
            line-height: 1;
        }
        p {
            font-size: 24/16*1em;
            line-height: 1.2;
        }
        &.left-align {
            text-align: left;
        }
    }
}
/*
 * promotion links
 */
.promotion-links {
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    margin-bottom: 2em;
    ul {
        height: 100%;
        margin: 0;
        li {
            height: 340/4/16*1em;
            font-weight: 500;
            padding: 0;
            margin: 0;
            list-style: none;
            background-image: none;
            
            border-bottom: 1px solid #d4d4d5;
            &:last-child {
                border-bottom: none;
            }
            a {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border: none;
                padding: 0 1em;
                &:hover {
                    background: $web-sky-blue;
                }
                span {
                    &:after {
                        padding-left: .625rem;
                        content: '\2192';
                    }
                }
            }
        }
    }
}
/*
 * news and event cards
 */
.news.card,
.event.card {
    max-width: 320px;
    footer {
        text-align: left;
        p {
            text-transform: uppercase;
        }
        .meta-right {
            float: right;
        }
    }
}
.news.card {
    header {
        background-color: #f1f1f1;
        position: relative;
        padding-bottom: 2/3*100%;
        &:before {
            content: "NEWS";
            font-size: 2em;
            line-height: 1;
            letter-spacing: -1px;
            color: #D6D6D6;
            display: block;
            height: 1em;
            position: absolute;
            top: 0;
            right:0;
            bottom: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
    }
}
.event.card {
    header {
        background-color: #fff;
        margin: 1em 1em 1.5em 1em;
        .when {
            font-size: 18/16*1em;
            margin: 0;
        }
        time {
            display: block;
            font-size: 28/18*1em;
        }
    }
    .card-main {
        .profile {
            figure {
                width: 30%;
                margin: 0;
            }
            .details {
                width: 70%;
                padding: 0 0 0 $gutter/2;
                h2, h3, h4, h5, p {
                    font-size: 14/16*1em;
                }
            }
        }
    }
}
/*
 * project cards
 */
.project.card {
    max-width: 320px;
    header {
        background-color: #f1f1f1;
        position: relative;
        padding-bottom: 1/2*100%;
        &:before {
            content: "PROJECT";
            font-size: 2em;
            line-height: 1;
            letter-spacing: -1px;
            color: #D6D6D6;
            display: block;
            height: 1em;
            position: absolute;
            top: 0;
            right:0;
            bottom: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
    }
}