// === SASS SETTINGS === */

// === VARIABLES === */

// set to the base font size preferably leave as 16.
$basefont:16; //px

// used constrain width of site content.
$max-width: 1250px;

// colours */

//$web-blue: #005596;
//$web-10-blue: #0072C9; //10% lighten of $web-blue
//$web-20-blue: #008ffc; //20% lighten of $web-blue
//$web-50-blue: #96d2ff; //50% lighten of $web-blue
//#c9e8ff 60% lighten of #005596
//$web-dark-blue: #00457C;
//$web-sky-blue: #E3F3FF;
//$web-grey: #4A4A4A;

//$mgse-blue: #00447C; rgb(0, 68, 124)
//$mgse-grey: #C4C4C5;
//$mgse-black: #20201E;

//$text-color: #444444;

//$main-nav-hover: #0061af;

//$mgse-dark-grey: #6a6a6a;

// fonts */
$body-font-family: 'Univers W01', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-font-bold: 'Univers W01', Helvetica, Arial, sans-serif;

// === MIXINS === */

// function to calculates the em-value from a px-value.
// $context is optional, defaults to $basefont.
@function px-to-em($target, $context: $basefont) {
	@return ($target / $context) * 1em;
}