
/*
 * Sub-site site-title
 * positions site icon which is site thumbnail
 */
.site-title {
    position: relative;
    clear: both;
    margin-top: 0;
    line-height: 1;
    color: #005596;
    font-size: 2em;
    background-color: transparent;
    padding: 0;
    z-index: 0;
    font-weight: 400;
}
.site-title img {
    height: 1em;
    width: auto;
    vertical-align: bottom;
    line-height: 1;
    margin-right: 10px;
}

/*
 * Sub-site navagation
 */
.sub-site-nav {
    width: 100%;
    margin: 1em 0 2em 0;
    background: transparent;
    border-radius: 0;
    padding: 0 0 10px 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.sub-site-nav a {
    display: block;
    float: left;
    padding: 5px 12px 4px 16px;
    margin: 0;
    border-left: 1px solid #B3C9D8;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'open sans bold',HelveticaNeue-Bold,'Helvetica Neue Bold','Helvetica Bold','Arial Bold',sans-serif;
    border-bottom: none;
    text-decoration: none;
    
    background: #F3F7FB;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,.2);
    -ms-box-shadow: 0 2px 1px rgba(0,0,0,.2);
    -o-box-shadow: 0 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 1px rgba(0,0,0,.2);
    opacity: 0.8;
    
    &:hover {
        background: #E0EBF5;
    }    
}
.sub-site-nav a:first-child {
    width: 40px;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    &:before {
        content: "\f015";
        font-family: "FontAwesome";
        margin-right: 100%;
        vertical-align: bottom;
    }
}
.sub-site-nav a:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sub-site-nav a.current {
    background: #CDDBE6;
}
