/*
 * Tables
 */
table {
    border-collapse: collapse;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 1.618em;
}
table caption {
    text-align: left;
    padding-bottom: 5px;
}
table td {
    padding: 1em;
}

table tr, table th, table td {
    border: 1px solid #c9e8ff;
    padding: 1em;
    }

table tbody tr:nth-child(2n+1) {
    background: #e3f3ff;
}

/*
 *  Fees Table - table used on course page aside to display fee options
 */
table.fees-table {
    table-layout: fixed;
    width: 100%;
}
table.fees-table th {
    font-size: 0.7em;
    color: #0072C9;
}
table.fees-table th a {
    color: #0072C9;
}
table.fees-table thead th:first-child {
    font-weight: 700;
    font-size: 1.24em;
    line-height: 1.618em;
    color: #005596;
    padding: 0.4em;
}
table.fees-table td {
    color: #96d2ff;
    text-align: center;
    border-right: 1px solid #e3f3ff;
}
table.fees-table th:last-child,
table.fees-table td:last-child {
    border-left: 1px solid #0072C9;
}
table.fees-table td.checked {
    background: #fff;
}
table.fees-table tr,
table.fees-table th,
table.fees-table td {
    border: none;
}
table.fees-table th,
table.fees-table td {
    border-bottom: 1px solid #c9e8ff;
}