/* === TYPOGRAPHY === */

body {
    font-family: $body-font-family;
    color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $body-font-bold;
    margin-top: 0;
}
h1, h2, h3, h5 {
    color: $web-blue;
}
h4, h6 {
    color: $web-grey;
}
h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.263;
    margin-bottom: 0.5em;
    @include breakpoint (medium-up) {
        font-size: 2.6em;
    }
}
.home h1,
.Home h1 {
    /* visually hide h1 on home page */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
h2 {
    font-size: 0.9 * 1.44em;
    font-weight: 700;
    line-height: 1.618;
    margin-bottom: 1.25em;
    @include breakpoint (medium-up) {
        font-size: 1.44em;
        margin-bottom: 1.04167em;
    }
}
.article {
    > h2 {
        margin-top: 3em;
    }
    > h2:first-child {
        margin-top: 0;
    }
}
.side-bar h2 {
    font-size: 0.9 * 1.24em;
    @include breakpoint (medium-up) {
        font-size: 1.24em;
    }
}
h3 {
    font-size: 0.9 * 1.24em;
    font-weight: 700;
    line-height: 1.618;
    margin-bottom: 0.236em;
    @include breakpoint (medium-up) {
        font-size: 1.24em;
    }
}
.side-bar h3 {
    font-size: 0.9 * 1.2em;
    @include breakpoint (medium-up) {
        font-size: 1.2em;
    }
}
h4 {
    font-size: 0.9 * 1.2em;
    font-weight: 700;
    line-height: 1.618;
    margin-bottom: 0.236em;
    @include breakpoint (medium-up) {
        font-size: 1.2em;
    }
}
.side-bar h4 {
    font-size: 0.9 * 1em;
    @include breakpoint (medium-up) {
        font-size: 1em;
    }
}
h5 {
    font-size: 0.9 * 1em;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.5em;
    @include breakpoint (medium-up) {
        font-size: 1em;
    }
}
.side-bar h5 {
    font-size: 0.9 * 1em;
    @include breakpoint (medium-up) {
        font-size: 1em;
    }
}
h6 {
    font-size: 0.9 * 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5em;
    @include breakpoint (medium-up) {
        font-size: 1em;
    }
}
p {
    font-size: 0.9 * 1em;
    font-weight: 400;
    line-height: 1.618;
    margin: 0 0 1.5em 0;
    word-wrap: break-word;
    max-width: 745px;
    @include breakpoint (medium-up) {
        font-size: 1em;
    }
    &.intro {
        font-size: 1.1em;
        line-height: 1.5;
        @include breakpoint (medium-up) {
            font-size: 1.2em;
        }
    }
}
/* inline tag styles */

/* links */
a,
a:active,
a:visited {
    border-bottom: 1px solid $web-10-blue;
    color: $web-blue;
    transition-property: color;
    transition-timing: ease-out;
    transition-duration: 1s;
    text-decoration: none;
}    
a:hover {
    border-bottom: none;
    color: $web-10-blue;
}
.pointer,
a.pointer {
    border-bottom: none;
    &:after {
        padding-left: .625rem;
        content: '\2192';
    }
}

/* other */
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/* Lists */
/* definition lists */
dl {
    margin: 0 0 1.5em 0;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0;
    margin-bottom: 1em;
}
/* ordered and un-ordered lists */
ol, ul {
    margin: 0 0 1.5em 0;  
    li {
        margin: 0.618em 0;
        line-height: 1.618;
    }
}
ul {
    padding: 0;
    li {
        padding: 0 0 0 40px;
        list-style-type: none;
        background-image: url("//education.unimelb.edu.au/__data/assets/image/0012/1674759/list-block-sml.gif");
        background-repeat: no-repeat;
        background-position: 18px 0.5em;
    }
    ul {
        margin-bottom: 0;
        ol {
            li {
                list-style-type: decimal;
                background-image: none;
                padding: 0;
            }
        }
    }
}
ol {
    padding: 0 0 0 40px;
    list-style-type: decimal;
    ol {
        margin-bottom: 0;
    }
}
ol.outline {
    counter-reset: item;
    ol {
        counter-reset: item;
    }
    li {
        display: block;
        position: relative;
    }
    li:before {
        content: counters(item,".") ".";
        counter-increment: item;
        position: absolute;
        margin-right: 100%;
        right: 10px;
    }
}

/*
 * Blockquote
 */
blockquote {
    color: $web-blue;
    //font-family: $font-sans;
    font-weight: 400;
    position: relative;
    font-size: 1em; 
    p {
        padding: 0px;
        margin: 0px;

        &:before {
            color: $web-50-blue;
            content: "\f10d";
            font-family: FontAwesome;
            margin-left: -2em;
            padding-right: 1em;
        }
        &:after {
            color: $web-50-blue;
            content: "\f10e";
            float: right;
            font-family: FontAwesome;
            margin-right: -2em;
        }
    }
    footer cite {
        font-size: 0.75em;
        font-style: normal;
        line-height: 1;
    }
    footer cite:before {
        content: "\2014"; //emdash
        margin-right: 0.5em;
    }
}

/*
 * Horizontal rule
 */
hr {
    /* make hr clear floats so always full width */
    clear: both;
    margin: 4em 0;
}